name: Maven Build with Ansible

on:
  push:
    branches:
      - main
      - my_new
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set up Maven 3.9.6
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: '3.9.6'

      - name: Build with Maven
        run: mvn clean package

      - name: Install Ansible
        run: |
          sudo apt update
          sudo apt install -y ansible

      - name: Run Ansible Playbook
        run: ansible-playbook task.yml
